.switchWrapper {
  margin: 20px auto;
  position: relative;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0;
}

.list-and-map {
  display: flex;
  justify-content: space-around;
}

.map-wrapper {
  height: 83vh;
  width: 45vw;
  align-self: flex-start;
  margin: 0 40px 0 20px;
}

@media only screen and (max-width: 1000px) {
  .list-and-map {
    flex-direction: column;
    height: 84vh;
  }

  .map-wrapper {
    height: 100vh;
    width: 100vw;
    align-self: flex-start;
    margin: 0;
  }
}

@media only screen and (max-width: 650px) {
  .map-wrapper {
    height: 50vh;
  }
}
