.switchWrapper {
  margin: 20px auto;
  position: relative;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 0;
}

.list-and-map {
  display: flex;
  justify-content: space-around;
}

.map-wrapper {
  height: 85vh;
  width: 45vw;
  align-self: flex-start;
  margin: 0 40px 0 20px;
}

@media only screen and (max-width: 1000px) {
  .list-and-map {
    flex-direction: column;
    height: 80vh;
  }

  .map-wrapper {
    height: 110vh;
    width: 95vw;
    align-self: flex-start;
    margin: 0 40px 0 20px;
  }
}
