.events {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 50%;
  max-height: 83vh;
  overflow: auto;
  box-sizing: border-box;
}

ul > li:nth-child(odd) {
  background-color: rgb(235, 241, 255);
}

li {
  border-radius: 5px;
  margin: 10px 0;
}

@media only screen and (max-width: 1000px) {
  .events {
    margin-bottom: 5px;
    width: 100vw;
    padding: 0;
  }
}
