.share {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  flex-grow: 2;
  justify-content: space-between;
  position: relative;

  h1 {
    text-align: center;
  }

  .minified-url-wrapper {
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    span {
      font-size: 2em;
    }

    input {
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
    }
  }

  .share-button-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0 0 10px 0;
    flex-grow: 2;
    max-width: 400px;
    margin-right: 6px;
  }
}
