$primary: #3f51b4;

.MuiSwitch-track {
  height: auto !important;
}

.create-event {
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  align-self: center;
}

.create-event > form {
  position: relative;
  width: 35vw;
  min-width: 358px;
  max-width: 500px;
  margin: 0 0 0 8%;
  padding: 3%;
  color: #14182f;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 7px -1px #000000;
  box-shadow: 2px 2px 7px -1px #000000;
}

.mapHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.create-event .leaflet-container {
  border-radius: 0;
}

button {
  margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 750px) {
  .create-event {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .create-event > form {
    position: relative;
    width: 99vw;
    min-width: 99vw;
    box-sizing: border-box;
    height: auto;
    margin: 20px 0 15px 0;

    h4 {
      text-align: center;
    }
  }
  .create-event > form > button {
    margin-top: 15px !important;
  }
  .create-event > form > H4 {
    margin-bottom: 15px !important;
  }

  .mapHolder {
    width: 100vw;
    height: 275px;
    position: relative;
  }
}
